.custom-hotspot {
    background-color: rgba(255, 87, 34, 0.7); /* 半透明の背景色 */
    color: white;             /* 文字色 */
    padding: 5px 10px;        /* パディング */
    border-radius: 5px;       /* ボーダーの角を丸くする */
    font-size: 12px;          /* フォントサイズ */
}

/* ホバー時のスタイル */
.custom-hotspot:hover {
    background-color: rgba(230, 74, 25, 0.7); /* ホバー時の半透明の背景色 */
}

/* タブレット用のスタイル調整 */
@media only screen and (max-width: 768px) {
    .custom-hotspot {
        padding: 10px 20px;   /* タブレット用のパディング */
        font-size: 16px;      /* タブレット用のフォントサイズ */
    }
}

/* モバイル用のスタイル調整 */
@media only screen and (max-width: 480px) {
    .custom-hotspot {
        padding: 8px 15px;    /* モバイル用のパディング */
        font-size: 12px;      /* モバイル用のフォントサイズ */
    }
}

/* 中央の+マークを非表示にする */
.pnlm-default-hotspot {
    display: none !important;
}

/* ホットスポットのツールチップスタイル */
.custom-hotspot-tooltip {
    position: absolute;
    background-color: rgba(255, 87, 34, 0.7); /* 半透明の背景色 */
    color: white;             /* 文字色 */
    padding: 5px 10px;        /* パディング */
    border-radius: 5px;       /* ボーダーの角を丸くする */
    font-size: 12px;          /* フォントサイズ */
    white-space: nowrap;      /* テキストの折り返しを防止 */
    pointer-events: none;     /* ポインタイベントを無効にして、ツールチップがクリックされないようにする */
}

/* タブレット用のスタイル調整 */
@media only screen and (max-width: 768px) {
    .custom-hotspot-tooltip {
        padding: 10px 20px;   /* タブレット用のパディング */
        font-size: 16px;      /* タブレット用のフォントサイズ */
    }
}

/* モバイル用のスタイル調整 */
@media only screen and (max-width: 480px) {
    .custom-hotspot-tooltip {
        padding: 8px 15px;    /* モバイル用のパディング */
        font-size: 12px;      /* モバイル用のフォントサイズ */
    }
}
