<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <title>View 360 Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pannellum.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom-hotspot.css') }}"/>
    <script src="{{ url_for('static', filename='pannellum.js') }}"></script>
</head>
<body>
    <h1>View 360 Image</h1>
    <div id="panorama" style="width: 100%; height: 500px;"></div>
    <div id="commentForm" style="display:none;">
        <textarea id="commentText" placeholder="Enter your comment here..."></textarea>
        <button onclick="saveComment()">Save Comment</button>
    </div>
    <button onclick="location.reload();">Reload Page</button> <!-- ページリロードボタン -->
    <script>
        var viewer;
    
        document.addEventListener("DOMContentLoaded", function() {
            viewer = pannellum.viewer('panorama', {
                "type": "equirectangular",
                "panorama": "{{ url_for('uploaded_file', filename=filename) }}",
                "autoLoad": true,
                "onLoad": function() {
                    loadHotspots(); // ホットスポットのロード
                    setupContextMenu(); // コンテキストメニュー設定をこのタイミングで行う
                }
            });
        });
    
        function setupContextMenu() {
            document.getElementById('panorama').addEventListener('contextmenu', function(event) {
                event.preventDefault(); // デフォルトのコンテキストメニューを防止
                var coords = viewer.mouseEventToCoords(event);
                showCommentForm(coords[0], coords[1]);
            });
        }
    
        function loadHotspots() {
            console.log("Attempting to load hotspots from server...");
            fetch('/hotspots')
                .then(response => response.json())
                .then(data => {
                    console.log("Hotspots loaded:", data);
                    data.forEach(hotspot => {
                        viewer.addHotSpot({
                            "pitch": hotspot.pitch,
                            "yaw": hotspot.yaw,
                            "type": "info",
                            "text": hotspot.description,
                            "cssClass": "custom-hotspot"
                        });
                    });
                })
                .catch(error => console.error('Error fetching hotspots:', error));
        }
    
        function showCommentForm(pitch, yaw) {
            var form = document.getElementById('commentForm');
            form.style.left = '50%';
            form.style.top = '50%';
            form.style.transform = 'translate(-50%, -50%)';
            form.style.display = 'block';
            form.dataset.pitch = pitch;
            form.dataset.yaw = yaw;
        }
    
        function saveComment() {
            var form = document.getElementById('commentForm');
            var text = document.getElementById('commentText').value;
            var pitch = parseFloat(form.dataset.pitch);
            var yaw = parseFloat(form.dataset.yaw);
    
            fetch('/save_hotspot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application.json'
                },
                body: JSON.stringify({
                    pitch: pitch,
                    yaw: yaw,
                    text: text
                })
            })
            .then(response => response.json())
            .then(data => {
                viewer.addHotSpot({
                    "pitch": pitch,
                    "yaw": yaw,
                    "type": "info",
                    "text": text,
                    "cssClass": "custom-hotspot"
                });
                form.style.display = 'none';
                document.getElementById('commentText').value = ''; // Clear the text area
            })
            .catch((error) => console.error('Error:', error));
        }
    </script>
    
</body>
</html>
